pipelines/data_factory_pipeline/copy_all_tables_pipeline/copy_all_tables.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Nom de fabrique de données"},"AzureDatabricksLinkedService":{"type":"string"},"SqlServerOnPremLinkedService1":{"type":"string"},"AzureDataLakeStorageLinkedService":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/copy_all_tables')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup1","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"SELECT \n    s.name AS SchemaName,\n    t.name AS TableName\nFROM sys.tables t\nINNER JOIN sys.schemas s\n    ON t.schema_id = s.schema_id\nWHERE s.name = 'SalesLT';\n","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"SqlServerOnPrem","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Lookup1","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Lookup1').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@{concat('SELECT * FROM ', item().SchemaName, '.', item().TableName)}\n","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"SqlServerOnPrem","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ParquetSink","type":"DatasetReference","parameters":{"schemaname":{"value":"item().SchemaName","type":"Expression"},"tablename":{"value":"item().TableName","type":"Expression"}}}]}]}},{"name":"Bronze to Silver","type":"DatabricksNotebook","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/aymenhalleb01@gmail.com/bronze to silver - extended"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricksLinkedService')]","type":"LinkedServiceReference"}},{"name":"Silver to Gold","type":"DatabricksNotebook","dependsOn":[{"activity":"Bronze to Silver","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/aymenhalleb01@gmail.com/silver to gold - extended"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricksLinkedService')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2025-04-11T21:01:53Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/SqlServerOnPrem')]","[concat(variables('factoryId'), '/datasets/ParquetSink')]"]},{"name":"[concat(parameters('factoryName'), '/SqlServerOnPrem')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('SqlServerOnPremLinkedService1')]","type":"LinkedServiceReference"},"annotations":[],"type":"SqlServerTable","schema":[{"name":"AddressID","type":"int","precision":10},{"name":"AddressLine1","type":"nvarchar"},{"name":"AddressLine2","type":"nvarchar"},{"name":"City","type":"nvarchar"},{"name":"StateProvince","type":"nvarchar"},{"name":"CountryRegion","type":"nvarchar"},{"name":"PostalCode","type":"nvarchar"},{"name":"rowguid","type":"uniqueidentifier"},{"name":"ModifiedDate","type":"datetime","precision":23,"scale":3}],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ParquetSink')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorageLinkedService')]","type":"LinkedServiceReference"},"parameters":{"schemaname":{"type":"string"},"tablename":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@{concat(dataset().tablename,' .parquet')}","type":"Expression"},"folderPath":{"value":"@{concat(dataset().schemaname, '/',dataset().tablename)}","type":"Expression"},"fileSystem":"bronze"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}