pipelines/synapse_pipeline/synapse_pipeline_customerView.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Nom de l'espace de travail","defaultValue":"intech-analytics"},"AzureSqlDatabase_Gold":{"type":"string"},"intech-analytics-WorkspaceDefaultStorage":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/Pipeline 1')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Get Table Names","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"Binary1","type":"DatasetReference","parameters":{}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Get Table Names","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Table Names').output.childItems","type":"Expression"},"activities":[{"name":"Stored procedure1","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[CreateSQLServerlessView_gold]","storedProcedureParameters":{"ViewName":{"value":{"value":"@replace(item().name, '/', '')\n","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase_Gold')]","type":"LinkedServiceReference"}}]}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2025-04-11T17:05:53Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/Binary1')]"]},{"name":"[concat(parameters('workspaceName'), '/Binary1')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('intech-analytics-WorkspaceDefaultStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"SalesLT","fileSystem":"gold"}}},"dependsOn":[]}]}